.content {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
  background-color: #F7F6F3;

  .content-tab {
    display: flex;
    flex-direction: column;
    width: 710px;
    height: 600px;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 20px
  }
}

@media (max-width: 1055px) {
  .content {
    .content-tab {
      width: 90%;
      padding: 10px;
    }
  }
}

@media (max-width: 900px) {
  .content {
    padding: 15px 0;

    .content-tab {
      width: 95%;
      height: auto;
      padding: 10px
    }

  }
}