$sidebar-color: #000000;
$sidebar-color-text: #FFFFFF;

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  background-color: $sidebar-color;
  color: $sidebar-color-text;

}

.sidebar-header {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 70px;
  margin: 0 20px;

  .sidebar-logo-name {
    display: flex;
    justify-content: space-around;
    .sidebar-logo {
      height: 18.9px;
      margin: 0 15px 0 0;
    }
  }

  .sidebar-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    .sidebar-name {
      font-size: 16px;
      line-height: 24px;
    }
    .search-button {
      height: 16px;
      width: 16px;
      cursor: pointer;
    }
    .input {
      position: absolute;
      right: 0;
      background-color: $sidebar-color;
      color: $sidebar-color-text;
      border: none;
      border-bottom: 1px solid #FFC200;
      outline: none;
      width: 0;
      height: 24px;
      padding: 1px 0;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-out;
      transition-delay: 0.3s;
    }
  }

}

.info-footer {
  opacity: 0.5;
  font-size: 12px;
}

.sidebar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #202020;
  padding: 0 20px;

  .user-dots {
    display: flex;
    cursor: pointer;
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .user-info:last-child {
    font-size: 12px;
    color: #9B9B9B;
  }

  .sidebar-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding-right: 10px;
  }
  .info-name {
    font-size: 14px;
  }
}



.statistic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding: 0 20px;

  .statistic-quantity {
    margin-right: 20px;
    .quantity {
      font-size: 20px;
    }
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  flex: 1;
  line-height: 22px;

  .menu {
    margin: 10px auto 10px 20px;
    cursor: pointer;
  }
  .sidebar-active {
    font-size: 12px;
    color: #878787;
    line-height: 18px;
    text-transform: uppercase;
  }
  .notifications {
    display: flex;
    align-items: center;

    .round-number {
      background-color: #FFC200;
      height: 20px;
      width: 20px;
    }

    .notifications-new {
      margin-left: 10px;
    }
  }
}

@media (max-width: 992px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 900px) {
  .sidebar {
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
  }

  .sidebar-name {
    margin-right: 8px;
  }

  .user-dots {
    margin-left: 10px;
  }

  .sidebar-header {
    margin: 0 10px;
  }

  .sidebar-menu {
    flex-direction: row;
    align-items: center;

    .sidebar-active {
      font-size: 14px;
    }

      .menu {
      margin: 5px auto 5px 10px;
    }
  }
}

@media (max-width: 422px) {
  .sidebar {
    .sidebar-header {
      margin: 10px;
      width: 100%;
      height: 40px;
    }

    .sidebar-user {
      width: 100%
    }

    .statistic {
      height: 40px;
      padding: 0 10px;

      .statistic-quantity {
        margin-right: 10px;
        .quantity {
          font-size: 15px;
        }
      }
    }

    .sidebar-menu {
      font-size: 12px;

      .sidebar-active {
        font-size: 12px;
      }

      .round-number {
        height: 15px;
        width: 15px;
      }

    }

  }
}