.content-activity {
  display: flex;
  flex-direction: column;
  color: #131313;
}

.activity-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 20px;

  .icon-in-round {
    width: 12px;
  }

  .mark {
    width: 8%;
    margin: 0 auto 15px 10px;
    opacity: 0.5;
    font-size: 14px;
  }
  .text {
    width: 70%;
    margin: 0 auto 15px 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .time {
    width: 8%;
    height: 20px;
    margin: 0 15px 15px auto;
    opacity: 0.7;
    font-size: 14px;
    text-align: right;
    line-height: 20px;
  }
  .answer {
    width: 73%;
    border-radius: 7px;
    background-color: #F7F6F3;
    padding: 25px;
    margin: 0 auto 15px 60px;
    font-size: 15px;
  }
  .answer-img {
    width: 65%;
    border-radius: 7px;
    margin: 0 auto 15px 70px;

    .img {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      margin: 0 10px 0 0;
    }
  }
}

@media (max-width: 768px) {
  .content-activity {
    .activity-tasks {
      padding-top: 10px;

      .round-content-mob {
        width: 25px;
        height: 25px;
      }

      .icon-in-round {
        width: 8px;
      }

      .mark {
        margin: 0 auto 10px 5px;
        font-size: 12px;
      }

      .text {
        margin: 0 10px 10px 10px;
        font-size: 12px;
        line-height: 18px;
      }

      .time {
        flex: 1;
        width: 8%;
        height: auto;
        margin: 0 10px 10px 0;
        opacity: 0.7;
        font-size: 10px;
        text-align: right;
        line-height: 15px;
      }

      .answer {
        padding: 8px;
        margin: 0 auto 15px 15%;
        font-size: 12px;
        line-height: 15px;

      }

      .img {
        width: 20%;
        height: 20%;
        margin: 0 8px 0 0;
      }
    }
  }
}

@media (max-width: 420px) {
  .content-activity {
    .activity-tasks {
      .img {
        width: 35%;
        height: 35%;
      }
    }
  }
}