.content-activity {
  display: flex;
  flex-direction: column;
  color: #131313;
}

.activity-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 20px;

  .icon-in-round {
    width: 12px;
  }

  .mark {
    width: 65px;
    margin: 0 auto 15px 10px;
    opacity: 0.5;
    font-size: 14px;
  }
  .text {
    width: 430px;
    margin: 0 auto 15px 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .time {
    width: 65px;
    height: 20px;
    margin: 0 15px 15px auto;
    opacity: 0.7;
    font-size: 14px;
    text-align: right;
    line-height: 20px;
  }
  .answer {
    width: 500px;
    border-radius: 7px;
    background-color: #F7F6F3;
    padding: 25px;
    margin: 0 auto 15px 70px;
    font-size: 15px;
  }
  .answer-img {
    width: 500px;
    border-radius: 7px;
    margin: 0 auto 15px 70px;

    .img {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      margin: 0 auto 0 0;
    }
    .img:not(:first-child) {
      margin-left: 10px;
    }
  }
}

